* {
box-sizing: border-box;}

.wrap {
  height: 100vh;
  width: 100vw;
  background-image:url("simple.jpg");
  background-size: cover;
}
.idezet {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  padding: 5rem 5rem 1rem 5rem;
  line-height: 180%;
  color: rgb(134, 121, 121);
  
}
.iro {
  text-align: center;
  font-style:italic;
  font-size: .9rem;
  color: rgb(134, 121, 121);
}
.iro::before {
  display: inline-block;
  content: "";
  background-color: rgb(134, 121, 121);
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}